<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <faqtab>
            <general>
                <enable>1</enable>
                <showgroup>1</showgroup>
                <animation>500</animation>
            </general>
        </faqtab>
    </default>
</config>