<?xml version="1.0" ?>
<!--
/**
 * MagePrince
 * Copyright (C) 2020 Mageprince <info@mageprince.com>
 *
 * @package Mageprince_Faq
 * @copyright Copyright (c) 2020 Mageprince (http://www.mageprince.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author MagePrince <info@mageprince.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Mageprince_Faq::menu" sortOrder="10" title="FAQ">
					<resource id="Mageprince_Faq::Faq" sortOrder="10" title="Faq Management"/>
					<resource id="Mageprince_Faq::FaqGroup" sortOrder="20" title="Faq Group Management"/>
					<resource id="Mageprince_Faq::Configuration" sortOrder="30" title="Configuration" />
				</resource>
			</resource>
		</resources>
	</acl>
</config>
