<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <faqtab>
            <general>
                <enable>1</enable>
                <page_title>FAQ</page_title>
                <faq_url>faq</faq_url>
                <showgrouptitle>1</showgrouptitle>
                <showgroup>1</showgroup>
                <footerlink>1</footerlink>
                <headerlink>1</headerlink>
                <page_type>scroll</page_type>
            </general>
        </faqtab>
    </default>
</config>