@faq-active-background-color: #007fff;
@faq-active-border-color: #003eff;
@faq-border-color: #ddd;
@faq-group-border-color: #1979c3;
@faq-group-title-border-color: #b55;
@faq-heading-background-color: #f6f6f6;
@faq-heading-color: #454545;
@faq-hover-color: #ff5501;
@faq-link-color: #2b2b2b;
@faq-primary-color: #198dd3;
@faq-text-color: #333;
@faq-ui-border-color: #c5c5c5;
@faq-visual-focus-color: rgb(94, 158, 214);
@faq-white-color: #fff;

.mageprince-faq-collection {
    margin-bottom: 20px;

    .ui-accordion .ui-accordion-header {
        cursor: pointer;
        display: block;
        font-size: 15px;
        font-weight: bold;
        margin: 10px 0 0;
        padding: .8em .5em .8em 1em;
        position: relative;
    }

    .ui-accordion .ui-accordion-content {
        border-top: 0;
        overflow: auto;
        padding: 1em 2.2em;
    }

    .ui-slider.ui-state-disabled .ui-slider-handle,
    .ui-slider.ui-state-disabled .ui-slider-range {
        filter: inherit;
    }

    .ui-slider-vertical {
        height: 100px;
        width: .8em;
    }

    .ui-slider-vertical .ui-slider-handle {
        left: -.3em;
        margin-bottom: -.6em;
        margin-left: 0;
    }

    .ui-slider-vertical .ui-slider-range {
        left: 0;
        width: 100%;
    }

    .ui-slider-vertical .ui-slider-range-min {
        bottom: 0;
    }

    .ui-slider-vertical .ui-slider-range-max {
        top: 0;
    }

    .faq-accordion .ui-widget.ui-widget-content {
        border: 1px solid @faq-ui-border-color;
    }

    .faq-accordion .ui-widget-content {
        background: @faq-white-color;
        border: 1px solid @faq-border-color;
        color: @faq-text-color;
    }

    .faq-accordion .ui-widget-content a {
        color: @faq-text-color;
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        background: @faq-heading-background-color;
        border: 1px solid @faq-ui-border-color;
        color: @faq-heading-color;
        font-weight: normal;
    }

    .ui-state-hover a,
    .ui-state-hover a:hover,
    .ui-state-hover a:link,
    .ui-state-hover a:visited,
    .ui-state-focus a,
    .ui-state-focus a:hover,
    .ui-state-focus a:link,
    .ui-state-focus a:visited {
        color: @faq-link-color;
        text-decoration: none;
    }

    .ui-visual-focus {
        box-shadow: 0 0 3px 1px @faq-visual-focus-color;
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active {
        background: @faq-active-background-color;
        border: 1px solid @faq-active-border-color;
        color: @faq-white-color;
        font-weight: normal;
    }

    .ui-state-active a,
    .ui-state-active a:link,
    .ui-state-active a:visited {
        color: @faq-white-color;
        text-decoration: none;
    }

    .group-title {
        border-bottom: 1px solid @faq-border-color;
        color: @faq-primary-color;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.5;
        margin: 25px 0;
        padding-bottom: .25em;
        text-transform: uppercase;
        width: 100%;
    }

    .group-title i {
        border-bottom: 1px solid @faq-group-title-border-color;
        border-bottom-color: @faq-primary-color;
        bottom: -1px;
        float: left;
        position: absolute;
        width: 2.15em;
        z-index: 9999;
    }

    .faq-groups {
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
    }

    .faq-group {
        display: inline-block;
    }

    .faq-group-image {
        border: 1px solid @faq-group-border-color;
        margin-right: 25px;
        padding: 10px;
    }

    img.group-image {
        height: 100px;
        width: 100px;
    }

    .faq-groupname {
        font-size: 15px;
        font-weight: 700;
        margin: 10px 25px 0 0;
        text-align: center;
        text-transform: uppercase;
    }

    .faq-group a.group-link:hover {
        color: @faq-hover-color;
        text-decoration: none;
    }

    .faq-group .faq-group-image:hover {
        border-color: @faq-hover-color;
    }

    .faq-content .ui-accordion-header:hover {
        background-color: @faq-group-border-color;
        color: @faq-white-color;
    }

    .faq-group:hover {
        border-color: @faq-hover-color;
    }

    .faq-collection {
        float: left;
        margin-bottom: 30px;
        width: 100%;
    }

    .ui-accordion .ui-state-default:after {
        border-bottom: 2px solid currentColor;
        border-right: 2px solid currentColor;
        content: '';
        display: block;
        float: right;
        height: 8px;
        margin-right: 4px;
        margin-top: 4px;
        transform: rotate(-45deg);
        width: 8px;
    }

    .ui-accordion .ui-accordion-header-active:after {
        transform: rotate(45deg);
    }

    .collspan-expand-block {
        float: right;
    }
}

.mageprince-faq-loader {
    height: 100%;
    left: 50%;
    position: fixed;
    top: 50%;
    width: 100%;
    z-index: 9999;
}
