<?xml version="1.0" ?>
<!--
/**
 * MagePrince
 * Copyright (C) 2020 Mageprince <info@mageprince.com>
 *
 * @package Mageprince_Faq
 * @copyright Copyright (c) 2020 Mageprince (http://www.mageprince.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author MagePrince <info@mageprince.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Mageprince_Faq::menu"
			 module="Mageprince_Faq"
			 resource="Mageprince_Faq::menu"
			 sortOrder="11"
			 translate="title"
			 title="FAQ"/>
		<add id="Mageprince_Faq::faqgroup"
			 action="mageprince_faq/faqgroup/index"
			 module="Mageprince_Faq"
			 parent="Mageprince_Faq::menu"
			 resource="Mageprince_Faq::FaqGroup"
			 sortOrder="10"
			 translate="title"
			 title="Manage FAQGroup"/>
		<add id="Mageprince_Faq::faq"
			 action="mageprince_faq/faq/index"
			 module="Mageprince_Faq"
			 parent="Mageprince_Faq::menu"
			 resource="Mageprince_Faq::Faq"
			 sortOrder="20"
			 translate="title"
			 title="Manage FAQ"/>
        <add id="Mageprince_Faq::configuration"
			 action="adminhtml/system_config/edit/section/faqtab"
			 module="Mageprince_Faq"
			 parent="Mageprince_Faq::menu"
			 resource="Mageprince_Faq::Configuration"
			 sortOrder="30"
			 translate="title"
			 title="Configuration"/>
		<add id="Mageprince_Faq::menu_useful"
			 module="Mageprince_Faq"
			 parent="Mageprince_Faq::menu"
			 resource="Mageprince_Faq::menu"
			 sortOrder="40"
			 translate="title"
			 title="Useful Links"/>
		<add id="Mageprince_Faq::faq_user_guid"
			 action="mageprince_faq/faq/index"
			 module="Mageprince_Faq"
			 parent="Mageprince_Faq::menu_useful"
			 resource="Mageprince_Faq::menu"
			 sortOrder="50"
			 target="_blank"
			 translate="title"
			 title="FAQ User Guid"/>
		<add id="Mageprince_Faq::other_modules"
			 module="Mageprince_Faq"
			 parent="Mageprince_Faq::menu_useful"
			 resource="Mageprince_Faq::menu"
			 sortOrder="60"
			 target="_blank"
			 translate="title"
			 title="Mageprince Modules"/>
	</menu>
</config>
